<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Theme/@Utility.Config.Theme/Style/style.css" id="style_style" rel="stylesheet" type="text/css" />
    <link href="~/Content/Theme/@Utility.Config.Theme/Style/ui.css" id="style_ui" rel="stylesheet" type="text/css" /> 
    @System.Web.Optimization.Scripts.Render("~/bundles/script")
    @RenderSection("Scripts", required: false)
    @{
        if ((Page.CheckLogin == null || Page.CheckLogin) && !Check.CheckLogin())
        {
            Response.Write("<script type='text/javascript'>top.location='/Login';</script>");
        }
        if ((Page.CheckApp == null || Page.CheckApp) && !Check.CheckApp())
        {
            Response.Write("应用程序检查错误");
            Response.End();
        }
        if ((Page.CheckUrl == null || Page.CheckUrl) && !Check.CheckUrl())
        {

            Response.Write("地址检查错误");
            Response.End();
        }
    }
</head>
    @RenderBody()
</body>
</html>
