<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Theme/@Utility.Config.Theme/Style/style.css" id="style_style" rel="stylesheet" type="text/css" />
    <link href="~/Content/Theme/@Utility.Config.Theme/Style/ui.css" id="style_ui" rel="stylesheet" type="text/css" /> 
    <script type="text/javascript" src="~/Scripts/My97DatePicker/WdatePicker.js"></script>
    @System.Web.Optimization.Scripts.Render("~/bundles/script")
    @RenderSection("Scripts", required: false)
</head>
<body>
    @{
        if ((Page.CheckLogin == null || Page.CheckLogin) && !Check.CheckLogin())
        {
            <script type="text/javascript">
                top.location = "/Login";
            </script>
        }
        if ((Page.CheckApp == null || Page.CheckApp) && !Check.CheckApp())
        {
            Response.Write("应用程序检查错误");
            Response.End();
        }
        if ((Page.CheckUrl == null || Page.CheckUrl) && !Check.CheckUrl())
        {

            Response.Write("地址检查错误");
            Response.End();
        }
    }
    @RenderBody()
</body>
</html>
