@{
    Page.Title = "登录";

    Layout = "~/_NoBodyLayout.cshtml";
    Page.CheckApp = false;
    Page.CheckUrl = false;
    Page.CheckLogin = false;

}
<body style="background:#d7effb;">
<div id="bgdiv" style="width:100%; height:680px; background:url(/Images/login/bg2.png) no-repeat center;"></div>
<script type="text/javascript">
    var win = new RoadUI.Window();
    $(function ()
    {
        var left = $(window).width() - 500;
        var top = $(window).height() - 280;
        win.open({ url: "/Login1", width: 300, height: 200, top: top, left: left, showico: false, title: "用户登录", resize: false, ismodal: false, showclose: false });
    });
</script>