<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--系统初始密码-->
    <add key="InitPassword" value="111"/>
  </appSettings>
  <connectionStrings>
    <add name="PlatformConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=RoadFlow;UID=rf;PWD=rf"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="20480" requestValidationType="CustomRequestValidation"/>
    <pages validateRequest="false"/>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="40" timeout="20"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="20480"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>