@{
    Layout = "~/_SiteLayout.cshtml";

    string id = Request.QueryString["id"];
    if(!id.IsGuid())
    {
        Response.Write("");
        Response.End();
    }
    var archives = new Business.Platform.WorkFlowArchives().Get(id.ToGuid());
    if (archives==null)
    {
        Response.Write("");
        Response.End();
    }
    
}

<div>
    @Html.Raw(archives.Contents.Trim())
</div>
<div style="margin-top:15px;">
    @Html.Raw(archives.Comments.Trim())
</div>