@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/FlowDesinger/ueditor/ueditor.config.js")"></script>
<script src="@Url.Content("~/Scripts/FlowDesinger/ueditor/ueditor.all.js")"></script>
<script src="@Url.Content("~/Scripts/FlowDesinger/ueditor/lang/zh-cn/zh-cn.js")"></script>
<div>
    <script id="editor" name="editor" type="text/plain" style="width:98%; height:300px;"></script>
</div>
<script type="text/javascript">
    var formattributeJSON = { hasEditor: "0" };
    var formsubtabs = [];
    $(function ()
    {
        resize();
        //$(window).bind('resize', function () { resize(); });
    });

    function resize()
    {
        $("#editor").height($(window).height() - 104);
        $("#editor").width($(window).width() - 19);
        UE.getEditor('editor');
    }
</script>

