
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
#[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

#本案排除
*.scc
*.psd
*/*/packages/*
src/RoadFlow/Web/Content/Upload/*
src/RoadFlow/Web/Platform/WorkFlow/FormDesigner/ueditor/net/tmp/*
src/RoadFlow/Web/Platform/WorkFlow/FormDesigner/ueditor/net/upload*
src/RoadFlow/Web/Platform/WorkFlow/Sign/*
*/*/*/[Bb]in/*
tree副本.gif
*.vssscc

#一定排除
!*.config
!*.refresh
!*.cs
!.[Xx][Mm][Ll]