@{
    Page.CheckApp = false;    
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div style="margin:0 auto; text-align:center; padding-top:28px;">
            <div>
                <img src="~/Images/loading/load1.gif" alt="" id="wait" />
            </div>
            <div style="margin-top:5px;">
            
            </div>
        </div>
    </body>
</html>
