@{
    Page.BodyStyle = "style='padding:0; overflow:hidden;'";

    string query = "appid=" + Request.QueryString["appid"] + "&tabid=" + Request.QueryString["appid"];
    string iframeid = Request.QueryString["appid"] + "_iframe";
}

<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <td style="width:200px; vertical-align:top; padding:5px 5px 0 5px;">
            <iframe id="Iframe1" frameborder="0" scrolling="auto" src="~/AppLibrary/Tree?@query" style="width:100%;margin:0;padding:0;"></iframe> 
        </td>
        <td class="organizesplit" style="padding:0;">
            <iframe id="@iframeid" frameborder="0" scrolling="auto" src="~/AppLibrary/List?@query" style="width:100%;margin:0;padding:0;"></iframe> 
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(function ()
    {
        var height = $(window).height();
        $('#Iframe1').attr('height', height - 10);
        $('#@iframeid').attr('height', height - 10);
    });
</script>
