@{
    Layout = "~/_SiteLayout.cshtml";
    Business.Platform.WorkFlowForm workFlowFrom = new Business.Platform.WorkFlowForm();
}
<script type="text/javascript" src="../internal.js"></script>
<script type="text/javascript" src="../common.js"></script>
<br />
<table cellpadding="0" cellspacing="1" border="0" width="95%" class="formtable">
    <tr>
        <th style="width:80px;">绑定字段:</th>
        <td><select class="myselect" id="bindfiled" style="width:227px"></select></td>
    </tr>
    <tr>
        <th>数据源:</th>
        <td>@Html.Raw(workFlowFrom.GetDataSourceRadios("datasource","0","onclick='dsChange(this.value);'"))</td>
    </tr>
    <tr id="ds_dict">
        <th>字典项：</th>
        <td><input type="text" class="mydict" id="ds_dict_value" more="0" value="" /></td>
    </tr>   
</table>
<table cellpadding="0" cellspacing="1" border="0" width="95%" id="ds_custom" style="display:none; margin-top:5px;" align="center">
    <tr>
        <td colspan="2">
            <fieldset style="padding:5px;">
            <legend style=""> 自定义选项 </legend>
            <div>标题：<input type="text" id="custom_title" class="mytext" value="" style="width:90px;" />
                 &nbsp;值：<input type="text" id="custom_value"  class="mytext" value="" style="width:90px;" />
                 &nbsp;<input type="button" class="mybutton" value="添加" onclick="dsAdd();" />
                 &nbsp;<input type="button" class="mybutton" value="删除" onclick="dsRemove();" />
            </div>
            <div style="height:5px;"></div>
            <div id="custom_sort" style="margin:0 auto; height:122px; border:1px solid #e8e8e8; padding:0 5px; overflow:auto; text-align:center;"></div>
            </fieldset>
        </td>
    </tr>
</table>
<script type="text/javascript">
    var text = editor.selection.getRange().getClosedNode();
    //var text = range.collapsed ? editor.queryCommandValue("formradio") : editor.selection.getStart();
    var attJSON = parent.formattributeJSON;
    var textid = text ? text.id : "";

    $(function ()
    {
        biddingFileds(attJSON, textid, $("#bindfiled"));
        
        if (text)
        {
            $text = $(text);
            $("#ds_dict_value").val($text.attr('dictid'));
            new RoadUI.Dict().setValue($("#ds_dict_value"));
            $("input[name='datasource'][value='" + $text.attr('datasource') + "']").prop('checked', true);
            if ("1" == $text.attr("datasource"))
            {
                $("#ds_dict").hide();
                $("#ds_custom").show();
                var custionJSONString = $text.attr("customopts");
             
                if ($.trim(custionJSONString).length > 0)
                {
                    var customJSON = JSON.parse(custionJSONString);
                    for (var i = 0; i < customJSON.length; i++)
                    {
                        dsAdd(customJSON[i].title, customJSON[i].value);
                    }
                }
            }
            else
            {
                $("#ds_dict").show();
                $("#ds_custom").hide();
            }
        }

        new RoadUI.DragSort($("#custom_sort"));

    });

    function dsChange(value)
    {
        if (value == 0)
        {
            $("#ds_dict").show();
            $("#ds_custom").hide();
        }
        else
        {
            $("#ds_dict").hide();
            $("#ds_custom").show();
        }
    }

    function optionClick(ul)
    {
        var spans = $(ul).children('span');
        $("#custom_title").val(spans.eq(0).text());
        $("#custom_value").val(spans.eq(1).text());
    }

    function dsAdd(title,value)
    {
        var custom_title = title || $.trim($("#custom_title").val());
        var custom_value = value || $.trim($("#custom_value").val());
      
        if (custom_title == "空标题") custom_title = "";
        if (custom_value == "空值") custom_value = "";
        var option = '<ul class="sortul" style="width:94%px; text-align:center;" ' +
            'text="' + (custom_title || "空标题") + '_' + (custom_value || "空值") +
            '" onclick="optionClick(this)"><span>' + (custom_title || "空标题") + '</span>(<span>' +
            (custom_value || "空值") + '</span>)</ul>';
        $("#custom_sort").append(option);
        new RoadUI.DragSort($("#custom_sort"));
    }

    function dsRemove()
    {
        var custom_title = $.trim($("#custom_title").val());
        var custom_value = $.trim($("#custom_value").val());
        if (custom_title && custom_value)
        {
            $("#custom_sort>ul[text='" + custom_title + "_" + custom_value + "']").remove();
        }
        else
        {
            alert('您没有选择要删除的项!');
        }
    }

    dialog.onok = function ()
    {
        var bindfiled = $("#bindfiled").val();
        var id = attJSON.dbconn && attJSON.dbtable && bindfiled ? attJSON.dbtable + '.' + bindfiled : "";
        var datasource = $(":checked[name='datasource']").val();
        var radios = [];
        var dictid = "";
        if ("1" == datasource)
        {
            $("#custom_sort>ul").each(function ()
            {
                var $spans = $(this).children('span');
                var title = $spans.eq(0).text();
                var value = $spans.eq(1).text();
                radios.push({ title: title, value: value });
            });
        }
        else
        {
            dictid = $("#ds_dict_value").val();
        }

        var html = '<input type="radio" type1="flow_radio" id="' + id + '" name="' + id + '" datasource="' + datasource + '" dictid="' + dictid + '" ';
        if ("1" == datasource)
        {
            html += "customopts='" + JSON.stringify(radios) + "' ";
        }
        html += '/>';
        editor.execCommand("formradio", html);
        dialog.close();
    }
</script>