@{
    Layout = "~/_SiteLayout.cshtml";
    
    if(IsPost)
    {
        string pass = Request.Form["pass"];
        var user = Business.Platform.Users.CurrentUser;
        string openerid=Request.QueryString["openerid"];
        if(string.Compare(user.Password, new Business.Platform.Users().GetUserEncryptionPassword(user.ID.ToString(),pass.Trim()), false)==0)
        {
            <script type="text/javascript">
                var frame = null;
                var openerid = '@openerid';
                var iframes = top.frames;
                for (var i = 0; i < iframes.length; i++)
                {
                    if (iframes[i].name == openerid + "_iframe")
                    {
                        frame = iframes[i]; break;
                    }
                }
                if (frame != null)
                {
                    frame.setSign();
                }

                new RoadUI.Window().close();
            </script>
        }
        else
        {
            <script type="text/javascript">
                alert("密码错误!");
            </script>
        }
    }
}
<form action="" method="post">
<div style="text-align:center; padding-top:30px;">
<input type="password" class="mytext" style="width:140px;" id="pass" name="pass" validate="empty" />
<input type="submit" class="mybutton" value="确&nbsp;定" onclick="return new RoadUI.Validate().validateForm(document.forms[0]);" />
<span type="msg"></span>
</div>
</form>