@{
    ViewBag.Title = "Designate";
    Page.CheckApp = false;
}
<form method="post">
    @Html.AntiForgeryToken()
    <div style="text-align:center; padding-top:50px;">
    指派给：<input type="text" class="mymember" style="width:140px;" id="user" name="user" validate="empty" errmsg="请选择要指派的人员" />
    <input type="submit" class="mybutton" value="确&nbsp;定" onclick="return new RoadUI.Validate().validateForm(document.forms[0]);" />
    <span type="msg"></span>
    </div>
</form>
<script type="text/javascript">
    $(function ()
    {
        @Html.Raw(ViewBag.Script)
    });
</script>