body { margin: 0px; font-size: 12px; }
table, td, th, p, div, span, label { font-size: 12px; }
p { margin:8px 0;}
.flowformtable { background-color:#dddddd; width:98%; margin:0 auto; }
.flowformtable tbody tr td { background:#ffffff; padding:5px 0 5px 3px; vertical-align:middle;}
.flowformtable thead tr td { background:#ffffff; padding:5px 0 5px 3px; vertical-align:middle;}

.flowformsubtable { background-color:#dddddd; width:100%; margin:0 auto;}
.flowformsubtable tbody tr td { background:#ffffff; padding:5px 0 5px 3px; vertical-align:middle;}
.flowformsubtable thead tr td { background:#ffffff; padding:5px 0 5px 3px; vertical-align:middle;}