@{
	string FlowID = Request.QueryString["flowid"];
	string StepID = Request.QueryString["stepid"];
	string GroupID = Request.QueryString["groupid"];
	string TaskID = Request.QueryString["taskid"];
	string InstanceID = Request.QueryString["instanceid"];
	string DisplayModel = Request.QueryString["display"] ?? "0";
	string DBConnID = "06075250-30dc-4d32-bf97-e922cb30fac8";
	string DBTable = "TempTest";
	string DBTablePK = "ID";
	string DBTableTitle = "Title";
	Business.Platform.Dictionary BDictionary = new Business.Platform.Dictionary();
	Business.Platform.WorkFlow BWorkFlow = new Business.Platform.WorkFlow();
	Business.Platform.WorkFlowTask BWorkFlowTask = new Business.Platform.WorkFlowTask();
	LitJson.JsonData initData = BWorkFlow.GetFormData(DBConnID, DBTable, DBTablePK, InstanceID);
	string TaskTitle = BWorkFlow.GetFromFieldData(initData, DBTable, DBTableTitle);
}
<link href="~/Platform/WorkFlow/FormDesigner/Forms/Public/flowform.css" rel="stylesheet" type="text/css" />
<script src="~/Platform/WorkFlow/FormDesigner/Forms/Public/common.js" type="text/javascript" ></script>
<input type="hidden" id="Form_ValidateAlertType" name="Form_ValidateAlertType" value="1" />
<input type="hidden" id="Form_TitleField" name="Form_TitleField" value="TempTest.Title" />
<input type="hidden" id="Form_DBConnID" name="Form_DBConnID" value="06075250-30dc-4d32-bf97-e922cb30fac8" />
<input type="hidden" id="Form_DBTable" name="Form_DBTable" value="TempTest" />
<input type="hidden" id="Form_DBTablePk" name="Form_DBTablePk" value="ID" />
<input type="hidden" id="Form_DBTableTitle" name="Form_DBTableTitle" value="Title" />
<input type="hidden" id="Form_AutoSaveData" name="Form_AutoSaveData" value="1" />
<script type="text/javascript">
	var initData = @Html.Raw(BWorkFlow.GetFormDataJsonString(initData));
	var fieldStatus = @Html.Raw(BWorkFlow.GetFieldStatus(FlowID, StepID));
	var displayModel = '@DisplayModel';
	$(function (){
		formrun.initData(initData, "TempTest", fieldStatus, displayModel);
	});
</script>
<p><br/></p><p><br/></p><p style="text-align: center;">请假申请111<br/></p><p><br/></p><table class="flowformtable" cellpadding="0" cellspacing="1"><tbody><tr class="firstRow"><td width="558" valign="top" style="word-break: break-all;">申请人：<input title="" type="text" type1="flow_org" id="TempTest.UserID" name="TempTest.UserID" value="u_@Business.Platform.Users.CurrentUserID.ToString()" more="0" isflow="1" class="mymember" dept="0" station="0" user="0" workgroup="0" unit="0" rootid=""/></td><td width="558" valign="top" style="word-break: break-all;">部门：<input title="" type="text" type1="flow_org" id="TempTest.DeptID" name="TempTest.DeptID" value="@Business.Platform.Users.CurrentDeptID" more="0" isflow="1" class="mymember" dept="0" station="0" user="0" workgroup="0" unit="0" rootid=""/></td></tr><tr><td width="558" valign="top" style="word-break: break-all;">开始时间：<input title="" type="text" type1="flow_datetime" id="TempTest.Date1" name="TempTest.Date1" value="" defaultvalue="" istime="0" isflow="1" class="mycalendar"/></td><td width="558" valign="top" style="word-break: break-all;">结束时间：<input title="" type="text" type1="flow_datetime" id="TempTest.Date2" name="TempTest.Date2" value="" defaultvalue="" istime="0" isflow="1" class="mycalendar"/></td></tr><tr><td width="558" valign="top"><br/></td><td width="558" valign="top"><br/></td></tr></tbody></table><p><br/></p>