.view {
	padding: 0px; height: 90%; cursor: text; -ms-word-wrap: break-word;
}
body {
	margin: 0px; font-size: 12px;
}
table, td, th, p, div, span, label { 
    font-size: 12px;
}
p {
	margin: 5px 0px;
}
table.sortEnabled tr.firstRow th {
	background-position: right; padding-right: 20px; background-image: url("../ueditor/themes/default/images/sortable.png"); background-repeat: no-repeat;
}
table.sortEnabled tr.firstRow td {
	background-position: right; padding-right: 20px; background-image: url("../ueditor/themes/default/images/sortable.png"); background-repeat: no-repeat;
}
.selectTdClass {
	background-color: rgb(237, 245, 250) !important;
}
table.noBorderTable td {
	border: 1px dashed rgb(221, 221, 221) !important;
}
table.noBorderTable th {
	border: 1px dashed rgb(221, 221, 221) !important;
}
table.noBorderTable caption {
	border: 1px dashed rgb(221, 221, 221) !important;
}
.formtable {
	margin-bottom: 10px; display: table; border-collapse: collapse;
}
.formtable tr td {
	padding: 5px 10px; border: 1px solid #f8f8f8;
}
.formtable tr th {
	padding: 5px 10px; border: 1px solid #f8f8f8;
}
caption {
	border-width: 1px 1px 0px; border-style: dashed dashed none; border-color: #f8f8f8 #f8f8f8 currentColor; padding: 3px; text-align: center;
}
table tr.firstRow th {
	border-top-width: 2px;
}
.ue-table-interlace-color-single {
	background-color: rgb(252, 252, 252);
}
.ue-table-interlace-color-double {
	background-color: rgb(247, 250, 255);
}
ol {
	margin: 0px; padding: 0;
}
ul {
	margin: 0px; padding: 0;
}
.pagebreak {
	margin: 0px; width: 100% !important; clear: both !important; display: block; cursor: default !important;
}
pre {
	background: rgb(248, 248, 248); margin: 0.5em 0px; padding: 0.4em 0.6em; border-radius: 8px;
}
.anchorclass {
	background: url("../ueditor/themes/default/images/anchor.gif") no-repeat left; border: 1px dotted rgb(0, 0, 255); width: 15px; height: 16px; display: inline-block; cursor: auto;
}

.flowautotitle { 
    font-size:24px; font-weight:bold; text-align:center; margin:28px auto 0 auto;
}