@{
    Layout = "~/_NoBodyLayout.cshtml";
    string query = "appid=" + Request.QueryString["appid"] + "&tabid=" + Request.QueryString["tabid"];
}
<body style="padding:0; overflow:hidden;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
            <td style="width:200px; vertical-align:top; padding:5px 5px 0 5px;">
                <iframe id="Iframe1" frameborder="0" scrolling="auto" src="InstanceTree?@query" style="width:100%;margin:0;padding:0;"></iframe> 
            </td>
            <td class="organizesplit" style="padding:0;">
                <iframe id="Iframe2" frameborder="0" scrolling="auto" src="InstanceList?@query" style="width:100%;margin:0;padding:0;"></iframe> 
            </td>
        </tr>
    </table>
    <script type="text/javascript">
        $(function ()
        {
            var height = $(window).height();
            $('#Iframe1').attr('height', height - 10);
            $('#Iframe2').attr('height', height - 10);
        });
    </script>