.loginbgdiv { width:100%; height:680px; background:url(../../Images/login/bg2.png) no-repeat center;}
.indexwelcome { margin-right:0px; background:url(../../images/ico/member.gif) no-repeat left; padding-left:18px;}
